<div class="app-container">
  <div class="container-body">
    <h1>This Week</h1>
    <% @categories.each do |category| %>
      <div class="card">
        <h2><% category.name %></h2>
        <ul>
          <% category.tasks.each do |task| %>
            <li><%= task.title %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
