<div class="app-container">
  <div class="container-body">
    <h1>This Week</h1>
    <% @categories.each do |category| %>
      <div class="card-category">
        <h2><%= category.name.capitalize %></h2>
        <ul class="list">
          <% category.tasks.each do |task| %>
            <li class="list-item"><%= task.title %><i class="fas fa-chevron-right"></i></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
