<div class="app-container">
  <div class="body-container">
    <div class="js-map map"></div>

    <% @todays_tasks.each do |task| %>
      <div class="card-task d-flex justify-content-between align-items-center">
        <div class="card-left text-left">
          <p><%= task.title %></p>
          <p><%= task.category.label %></p>
        </div>
        <div class="card-right d-flex justify-content-between align-items-center">
          <p>-</p>
          <p>+</p>
        </div>
      </div>
    <% end %>
    <a href="">Do you choose to accept this mission?</a>
  </div>
</div>
