<div class="card-template">
  <h1 class="header-template">Lorem ipsum dolor sit.</h1>
  <p class="p-template">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, voluptatum.</p>
  <button class="btn-template">Lorem ipsum dolor sit.</button>
</div>

<div class="checkbox-box">
  <label for="checkbox-test">
    <input type="checkbox" id="checkbox-test" class="checkbox-hidden">
    <div class="checkbox-empty"></div>
    <div class="checkbox-tick">
      <div class="tick-sm"></div>
      <div class="tick-lg"></div>
    </div>
  </label>
</div>
