<div class="footer fixed-bottom js-navbar">
  <div class="footer-left">
    <a href="/new_mission" id="js-new-mission-button">
      <%= image_tag "startup.png", alt: "alttext", class: 'img-sm js-btn-mission' %>
    </a>
  </div>
  <div class="footer-center">
    <%= link_to '+', root_path, class: 'btn-add js-btn-add' %>
  </div>
  <div class="footer-right">
    <%= link_to tasks_path, class: 'btn-list' do %>
      <i class="fas fa-list-ul"></i>
    <% end %>
  </div>
</div>
