<div class="app-navbar d-flex justify-content-between align-items-center fixed-top">
  <div class="navbar-left d-left justify-content-between align-items-center">
    <i class="fas fa-chevron-left"></i>
    <%= link_to 'Back', :back  %>
  </div>
  <div class="navbar-right">
  </div>
</div>
