<div class="app-container d-flex justify-content-around align-items-center">
  <div class="container-body">
    <h1>Weekend Warriors</h1>

    <div class="form">
      <%= render 'form' %>
    </div>
  </div>
</div>
