// .btn-submit {
//   position: absolute;
//   top: 16px;
//   right: 16px;
// }

.btn-add {
  display: inline-block;
  font-size: 24px;
  border: 1px solid $main;
  border-radius: 20px;
  padding: 0 24px;
}

.btn-link {
  color: rgba(0,0,0,0.7);
  transition: 0.2s;

  &:hover {
    color: rgba(0,0,0,1);
    text-decoration: none;
  }
}
