// .btn-submit {
//   position: absolute;
//   top: 16px;
//   right: 16px;
// }

.btn-add {
  display: inline-block;
  font-size: 24px;
  border: 1px solid $main;
  border-radius: 20px;
  padding: 0 24px;
  line-height: 30px;
}

.btn-delete {
  display: inline-block;
  font-size: 24px;
  line-height: 0.62;
  color: $main;
  opacity: 0.7;
  transform: rotate(45deg);
  padding: 8px;
  border: 1px solid $main;
  border-radius: 50%;
  transition: 0.2s;

  &:hover {
    color: $main;
    opacity: 1;
    text-decoration: none;
  }
}

.btn-link, .btn-submit {
  background: rgba(255,255,255,0);
  color: rgba(0,0,0,0.7);
  transition: 0.2s;

  &:hover {
    color: rgba(0,0,0,1);
    text-decoration: none;
  }
}

.btn-submit {
  padding: 12px 16px;
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 2px;

  &:hover {
    border: 1px solid rgba(0,0,0,1);
  }
}
