.btn-inline {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-gap: 12px;
  text-align: center;
}

.btn-active {
  background: rgba(255,255,255,0.2) !important;
}

.btn-circle {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.1);
  padding: 11px 18px;
  z-index: 2;
  background: rgba(255,255,255,0.1);
  color: #fff;

  i {
    padding: 0;
  }
}

.btn-task {
  background: rgba(0,0,0,0.2);
  border: 0;
  padding: 8px;
  border-radius: 2px;

  &:focus {
    outline: none;
  }
}

.btn-submit {
  width: 100%;
  // ###################
  background: #1e346c;
  color: #fff;
  padding: 12px;
  border: 0;
  border-radius: 2px;
}

.btn-link {
  color: $main;
  transition: 0.2s;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &:hover {
    color: $main;
    text-decoration: none;
  }
}
