.card-category {
  margin: 0 auto 24px;
}

.cards {
  margin: 0px 0 96px 0;
}

.card-task {
  width: 100%;
  padding: 16px;
  border: 1px solid $main;
  border-radius: 4px;

  .card-left {
    flex-grow: 1;
  }

}
.card-right {
  padding: 0 0 0 36px;
}
