.card-category {
  margin: 0 auto 24px;
}

.cards {
  margin: 0px 0 96px 0;
}

.card-task {
  width: 100%;
  padding: 16px;
  border: 1px solid $main;
  border-radius: 4px;

  .card-left {
    flex-grow: 1;
  }
}

.card-top {
  margin: 0 0 10px 0;
}

.card-top h3 {
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 10px 0;
  margin: 0;
}


.card-right {
  width: 25px;
  height: 25px;
  background: #fff;
  color: blue;
  border-radius: 6.5px;
  text-align: center;
  font-weight: bold;
  opacity: 0.2;
}
