.checkbox-box, .checkbox {
  left: 8px;
  top: 8px;
  position: absolute;

  .checkbox-empty, .checkbox-tick {
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 2px;
    margin: 0;
    display: inline-block;
  }

  .checkbox-tick {
    position: relative;

    .tick-sm, .tick-lg {
      position: absolute;
      width: 4px;
      background: #000;
    }

    .tick-sm {
      height: 10px;
      transform: rotate(-45deg);
      top: 12px;
      right: 18px;
    }

    .tick-lg {
      height: 18px;
      transform: rotate(45deg);
      top: 6px;
      right: 10px;
    }
  }

  .checkbox-hidden {
    visibility: hidden;
    display: inline-block;
    position: absolute;
    left: -144px;

    &:checked ~ .checkbox-empty {
      display: none;
    }

    &:checked ~ .checkbox-tick {
      display: inline-block;
    }
  }
}

.checkbox {
  position: relative;

  .checkbox-tick, .checkbox-empty {
    position: absolute;
    top: 4px;
    left: -8px;
  }

  .label-mission {
    .checkbox-tick, .checkbox-empty {
      top: -8px;
    }
  }

  & > label {
    font-size: 24px;
    margin: 0 0 18px;
    padding: 0 0 0 36px;
  }
}
