.app-container {
  margin: 0 auto;
  padding: 32px 0;
  height: 100%;
  width: 100%;
  position: relative;

  h2 {
    margin: 0 0 24px 0;
  }
}

.container-body {
  height: 100%;
  margin: 0 24px;
}

.container-top {
  padding: 16px;
  background: #fff;
}

.landing-body {
  position: absolute;
  bottom: 30%;
}

.display-container {
  padding: 0 !important;
}

body, html {
  height: 100%;
}
