.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 54px;
  padding: 12px 0;
  z-index: 1;
  transition: 0.2s;
}

.dropdown:hover .dropdown-content {
  display: block;
}
