.form-home {
  margin: 0 32px;
  padding: 0 0 48px 0;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  label {
    font-size: 18px;
  }
  .btn-submit {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.new_user {
  .form-actions {
    margin: 0;
    .btn {
      font-size: 20px;
      background: rgb(15,15,54);
    }
  }
}

.form-top {
  margin: 0 0 48px 0;
}

.form-group {
  margin: 0 0 40px 0;

  input, select {
    border: 0;
  }

  abbr {
    display: none;
  }
}

.form{
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .form-control {
    background: none;
    // background: rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.8);
    padding-left: 0;
    color: #fff !important;
    transition: 0.2s;
    font-size: 18px;

    &:focus {
      // background: rgba(255,255,255,1);
      // color: #000 !important;
      outline: none !important;
      box-shadow: none;
      border-bottom-color: white;
      border-bottom-width: 2px;
    }
    &::placeholder {
      color: rgba(255,255,255,0.7);
    }
  }
}

.new_task {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .form-actions {
    margin: 48px 0;
  }
}

.form-actions {
  left: 0;
  margin: 20px;
}

.task-final {
  height: 100%;
  display: flex;
  flex-direction: column;

  .task-final-top {
    flex-grow: 1;
    h1 {

    }

    p {
      margin: 20px 0;
    }
  }

  .form-actions {
    padding: 20px;
    margin: 0;
  }

  .mission-accept {
    .btn-submit {
      padding: 16px 72px;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.mission-accept {
}

.form-container, .mission-builder-form {
  width: 100%;
  height: 100%;
}

.mission-builder-form {
  display: flex;
  flex-direction: column;

  .form-cards {
    flex: 1;
    overflow-y: auto;

    .form-actions {
      margin: 0 20px;
    }

    .checkbox {

      .task {
        padding: 0 12px;
      }

      .label-mission {
        margin: 0;
        font-size: 18px;

        p {
        }
      }
    }

    .list-item {
      padding: 8px;
    }
  }
}

.mission-builder-category-tasks {
  padding-left: 40px;

  .list-item {
    background: none;
    padding: 0!important;
    margin-bottom: 5px;
  }
}

.accepted-mission-task-list {
  padding-top: 20px;
}
