.list {
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 12px 0;
  padding: 10px 13px;
  margin-bottom: 1px;
  border-radius: 4px;
  background: rgba(255,255,255,0.1);
  position: relative;
}

.list-item-left {
  span {
    margin: 0 0 0 40px;
  }
}

.list-item-title {
  list-style: none;

  h1 {
    margin: 0;
  }
}

.list-card {
  padding: 0 24px;
  position: relative;

  li {
    list-style: none;
  }
}

.task-final {
  h1 {
    margin: 12px 0;
  }
}
