.list {
  padding: 0 24px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 12px 0;
}

.list-item-title {
  list-style: none;

  h1 {
    margin: 0;
  }

  label {
    margin: 12px 0;
  }
}

.task {
  padding: 0 24px;
}

.task-final {
  h1 {
    margin: 12px 0;
  }
}
