.list {
  padding: 0 24px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 12px 0;
}

.list-item-left {
  i {
    opacity: 0.7;
    font-size: 12px;
    margin: 0 12px 0 0;
  }

  .fa-check-circle {
    color: #0EA854;
  }
}
